<h1>Logged in as <%= current_user.name %></h1>
<li><%= current_user.email %></li>
<li><%= current_user.street_address %></li>
<li><%= current_user.city %></li>
<li><%= current_user.state %></li>
<li><%= current_user.zipcode %></li>

<%= link_to 'Edit Profile', edit_profile_path %>
