<section class="profile">
  <h1><%= current_user.name %></h1>
  <li>Email: <%= current_user.email %></li>
  <li>Street Address: <%= current_user.street_address %>
  <li>City: <%= current_user.city %></li>
  <li>State: <%= current_user.state %></li>
  <li>Zipcode: <%= current_user.zipcode %></li>

  <%= button_to 'My Orders', profile_orders_path(@user), class: :button, method: :get %><br />
  <%= link_to 'Edit Profile', edit_profile_path %>
</section>
