<h1>Order Page</h1>

<%= @order.id %>
<%= @order.created_at %>
<%= @order.updated_at %>
<%= @order.status %>
<% @order.items.each do |item| %>
  <%= item.name %>
  <%= item.description %>
  <%= item.image %>
  <%= item.current_price %>
<% end %>
<% @order.order_items.each do |order_item| %>
  <div id="item-info-<%= order_item.id %>">
    Item Price: <%= number_to_currency(order_item.order_price) %>
    Number of Items: <%= order_item.order_quantity%>
    Subtotal: <%= number_to_currency(order_item.order_price * order_item.order_quantity) %>
  </div>
<% end %>
Total Quantity: <%= @order.total_quantity %>
Total Price: <%= number_to_currency(@order.grand_total) %>
