<aside>
  <h2>Merchant Statistics</h2>
  <section id="top-by-revenue">
    <% @top_by_revenue.each do |merchant| %>
      <%= merchant.name %> <br />
      Total Revenue: <%= merchant.revenue %>
    <% end %>
  </section>

  <section id="top-by-fulfillment">
    <% @top_by_fulfillment.each do |merchant| %>
      <%= merchant.name %> <br />
      Fulfillment Time: <%= merchant.fulfillment_time %><br />
    <% end %>

  </section>

  <section id="bottom-by-fulfillment">
    <% @bottom_by_fulfillment.each do |merchant| %>
      <%= merchant.name %> <br />
      Fulfillment Time: <%= merchant.fulfillment_time %><br />
    <% end %>
  </section>

  <section id="top-states">
    <% @top_states.each do |user| %>
      <%= user.state %> <br />
      Total Orders: <%= user.total_orders %><br />
    <% end %>
  </section>

  <section id="top-cities">
    <% @top_cities.each do |user| %>
      <%= user.city %> <br />
      Total Orders: <%= user.total_orders %><br />
    <% end %>
  </section>

  <section id="top-orders">
    <% @top_orders.each do |order| %>
      <%= order.id %> <br />
      Total Quantity: <%= order.total_quantity %><br />
    <% end %>
  </section>

</aside>

</aside>

<% @merchants.each do |merchant| %>
  <section id="merchant-<%= merchant.id %>">
    <% if current_admin %>
      <h2><%= link_to merchant.name, admin_merchant_path(merchant) %></h2>
      <% if merchant.active? %>
        <%= button_to "Disable", toggle_merchant_path(merchant), method: :patch %>
      <% else %>
        <%= button_to "Enable", toggle_merchant_path(merchant), method: :patch %>
      <% end %>
    <% else %>
      <h2><%= merchant.name %></h2>
    <% end %>
    City: <%= merchant.city %><br />
    State: <%= merchant.state %><br />
    Registered: <%= merchant.created_at.to_s(:long) %>
  </section>
<% end %>
