<h1>All Merchants</h1>
<aside class="stats">
  <h2>Top Merchants by Revenue</h2>
  <section id="top-by-revenue">
    <% @top_by_revenue.each do |merchant| %>
      <h3><%= merchant.name %></h3>
      <i class="material-icons">label_important</i>
      Total Revenue: <%= merchant.revenue %><br /><br />
    <% end %>
  </section>

  <h2>Fastest Fulfilling Merchants</h2>
  <section id="top-by-fulfillment">
    <% @top_by_fulfillment.each do |merchant| %>
      <h3><%= merchant.name %></h3>
      <i class="material-icons">label_important</i>
      Fulfillment Time: <%= (merchant.fulfillment_time) %><br /><br />
    <% end %>

  </section>

  <h2>Slowest Fulfilling Merchants</h2>
  <section id="bottom-by-fulfillment">
    <% @bottom_by_fulfillment.each do |merchant| %>
      <h3><%= merchant.name %></h3>
      <i class="material-icons">label_important</i>
      Fulfillment Time: <%= merchant.fulfillment_time %><br /><br />
    <% end %>
  </section>

  <h2>Top States Shipped To</h2>
  <section id="top-states">
    <% @top_states.each do |user| %>
      <h3><%= user.state %></h3>
      <i class="material-icons">label_important</i> 
      Total Orders: <%= user.total_orders %><br /><br />
    <% end %>
  </section>

  <h2>Top Cities Shipped To</h2>
  <section id="top-cities">
    <% @top_cities.each do |user| %>
      <h3><%= user.city %></h3>
      <i class="material-icons">label_important</i>
      Total Orders: <%= user.total_orders %><br /><br />
    <% end %>
  </section>

  <h2>Largest Orders</h2>
  <section id="top-orders">
    <% @top_orders.each do |order| %>
      <h3>Order ID: <%= order.id %></h3>
      <i class="material-icons">label_important</i>
      Total Quantity: <%= order.total_quantity %><br /><br />
    <% end %>
  </section>

</aside>

</aside>
<div class="merchant">
<% @merchants.each do |merchant| %>
  <section id="merchant-<%= merchant.id %>" class="merchant-index">
    <% if current_admin %>
      <h2><%= link_to merchant.name, admin_merchant_path(merchant) %></h2>
      City: <%= merchant.city %><br />
      State: <%= merchant.state %><br />
      Registered: <%= merchant.created_at.to_s(:long) %>
      <% if merchant.active? %>
        <%= button_to "Disable", toggle_merchant_path(merchant), method: :patch, class: :button %>
      <% else %>
        <%= button_to "Enable", toggle_merchant_path(merchant), method: :patch, class: :button %>
      <% end %>
    <% else %>
      <h2><%= merchant.name %></h2>
      City: <%= merchant.city %><br />
      State: <%= merchant.state %><br />
      Registered: <%= merchant.created_at.to_s(:long) %>
    <% end %>
  </section>
<% end %>
</div>
