<h1>Merchant's Items Page</h1>
<p><%= link_to "Add New Item", dashboard_items_new_path(merchant_id: @merchant.id) %></p>
<% @merchant.items.each do |item| %>
<section id="item-<%=item.id%>">
  <ul>
    <li>ID: <%= item.id %></li>
    <li>Name: <%= item.name %></li>
    <li>Price: <%= item.current_price %></li>
    <li>Inventory: <%= item.inventory %></li>
    <li><%= link_to "Edit Item" %></li>
      <% if item.active? %>
        <%= button_to "Disable" %>
      <% else %>
        <%= button_to "Enable" %>
      <% end %>
      <% if item.not_ordered? %>
        <%= button_to "Delete" %>
      <% end %>
    <li><img src="<%= item.image %>" /></li>
  </ul>
</section>
<% end %>
