<h1>Merchant's Items Page</h1>
<p><%= link_to "Add New Item" %></p>

<% current_user.items.each do |item| %>
<section id="item-<%=item.id%>">
  <ul>
    <li><%= item.id %></li>
    <li><%= item.name %></li>
    <li><%= item.current_price %></li>
    <li><%= item.inventory %></li>
    <li><%= link_to "Edit Item" %></li>
      <% if item.active? %>
        <%= button_to "Disable", dashboard_toggle_item_path(item), method: :patch %>
      <% else %>
        <%= button_to "Enable", dashboard_toggle_item_path(item), method: :patch %>
      <% end %>
      <% if item.not_ordered? %>
        <%= button_to "Delete" %>
      <% end %>
    <li><img src="<%= item.image %>" /></li>
  </ul>
</section>
<% end %>
