<h1><%=@item.name%></h1>
<ul class="items-show">
  <li>Description: <%= @item.description %> </li>
  <li> <img src="<%= @item.image %>" /> </li>
  <li>Inventory: <%= @item.inventory %> </li>
  <li>Price: <%= number_to_currency(@item.current_price) %> </li>
  <li>Merchant: <%= @item.user.name %> </li>
  <li>Average Fulfillment Time: <%=@fulfillment_time %>  </li>
</ul>
<%= link_to "Add to Cart", carts_path(item_id: @item.id) %>
