<section class="items-show">

<img src="<%= @item.image %>">

<h1><%=@item.name%></h1>
<ul>
  <li>Description: <%= @item.description %> </li>
  <li>Inventory: <%= @item.inventory %> </li>
  <li>Price: <%= number_to_currency(@item.current_price) %> </li>
  <li>Merchant: <%= @item.user.name %> </li>
  <li>Average Fulfillment Time: <%=@fulfillment_time %>  </li>
</ul>
<br />
<% unless current_merchant || current_admin %>
  <i class="material-icons">shopping_cart</i> <%= link_to "Add to Cart", carts_path(item_id: @item.id) %>
<% end %>
  </section>
