<h1><%= @user.name %></h1>
<li><%= @user.email %></li>
<li><%= @user.street_address %></li>
<li><%= @user.city %></li>
<li><%= @user.state %></li>
<li><%= @user.zipcode %></li>

<li><%= button_to "Upgrade", admin_user_upgrade_path(@user), method: :patch %></li>
