<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>

      <% if current_user && current_user.role == "user" %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Shop", items_path %></li>
          <li><%= link_to "Merchants", merchants_path %></li>
          <li><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Profile", profile_path(current_user.id) %></li>
          <li><%= link_to "Logout", logout_path %></li>
      <% elsif current_user && current_user.role == "merchant" %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Shop", items_path %></li>
          <li><%= link_to "Merchants", merchants_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
          <!-- <li> link_to "Cart", cart_path </li> -->
      <% elsif current_user && current_user.role == "admin" %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Shop", items_path %></li>
          <li><%= link_to "Merchants", merchants_path %></li>
          <li><%= link_to "Dashboard", admin_dashboard_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
          <!-- <li> link_to "Cart", cart_path </li> -->
      <% else %>
          <li> <%= link_to "Home", root_path %> </li>
          <li> <%= link_to "Shop", items_path %> </li>
          <li> <%= link_to "Merchants", merchants_path %> </li>
          <li> <%= link_to "Cart", cart_path %> </li>
          <li> <%= link_to "Register", register_path %> </li>
          <li> <%= link_to "Login", login_path %> </li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
